.Wrapper {
  padding: 1rem;
  background-color: var(--primary);
}

.Heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2rem;
}

.SubHeading {
  font-size: 1.2rem;
}
