.Wrapper {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  justify-content: center;
  height: 100%;
}

.noTasks {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Item {
  width: 80%;
  margin: auto;
}
