.TextField {
  font-family: inherit;
  width: clamp(200px, 60%, 1000px);
  text-align: center;
}

.Submit {
  cursor: pointer;
  padding: 0.4rem 0.8rem;
  transition: transform var(--transition);
}

.Submit:hover {
  transform: scale(1.1);
}

.Submit,
.TextField {
  font-family: inherit;
  height: 3rem;
  margin: 0 auto;
  font-size: 1.2rem;
  border-radius: 8px;
  border: none;
  background-color: var(--light);
  color: var(--dark);
}

.Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 1rem;
}
