.showBtns,
.Import,
.Export {
  background-color: var(--dark);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: var(--light);
  cursor: pointer;
  transition:
    transform var(--transition),
    background-color var(--transition);
}

.showBtns:hover,
.Import:hover,
.Export:hover {
  transform: scale(1.2);
  background-color: var(--primary);
}

.showBtns {
  display: none;
}

@media (pointer: coarse) {
  .showBtns {
    display: block;
  }
}

.Wrapper {
  background-color: var(--secondary);
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  align-items: center;
  gap: 0.5rem;
  padding: 0.4rem 0;
}
