.Content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: var(--primary);
  border: 4px solid var(--secondary);
  padding: 1rem;
  border-radius: 8px;
  width: 80vw;
  height: 80vh;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 1rem;
  cursor: pointer;
  background: none;
  border: none;
}
