:root {
  --dark: #281c59;
  --primary: #4e8d9c;
  --secondary: #85c79a;
  --light: #edf7bd;
  --transition: 0.2s ease;
}

html {
  font-size: 16px;
  font-family: "Sono", sans-serif;
  overflow-y: hidden;
  color: var(--light);
}

html * {
  box-sizing: border-box;
}

@media (max-width: 800px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 540px) {
  html {
    font-size: 10px;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--dark);
}

main {
  height: 100%;
}

a {
  color: var(--light);
  text-decoration: none;
}

a:hover {
  color: var(--dark);
  text-decoration: underline;
}
